{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid text-center filter-fields">
    <form class="d-flex justify-content-center align-items-center" action="" method="post">
        <input class="" type="text" name="" id="">&nbsp;<i class="fas fa-exchange-alt"></i>&nbsp;
        <input type="text" name="" id="">&nbsp;
        <button class="btn btn-dark"><i class="fas fa-filter"></i></button>
        {% comment %} <input class="btn btn-primary " type="submit" name="" id="" value=""> {% endcomment %}
    </form>
</div>


    

{% endblock content %}